[submodule "front_end_mentor/qrcode"]
	path = front_end_mentor/qrcode
	url = git@github.com:DaniloRibeiro07/QR-Code-component.git
[submodule "front_end_mentor/recipe-page"]
	path = front_end_mentor/recipe-page
	url = git@github.com:DaniloRibeiro07/recipe-page.git
